<h2 mat-dialog-title>Editar servicio</h2>
<mat-dialog-content>
  <form [formGroup]="servicioForm">
    <mat-form-field appearance="fill">
      <mat-label>ID Cliente</mat-label>
      <input matInput formControlName="idCliente" placeholder="ID Cliente" required>
      <mat-error *ngIf="servicioForm.controls['idCliente'].invalid">El campo ID Cliente es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Fecha de Inicio</mat-label>
      <input matInput [matDatepicker]="fechaInicioPicker" formControlName="fechaInicio" placeholder="Fecha de Inicio" required>
      <mat-datepicker-toggle matSuffix [for]="fechaInicioPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicioPicker></mat-datepicker>
      <mat-error *ngIf="servicioForm.controls['fechaInicio'].invalid">El campo Fecha de Inicio es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Fecha de Entrega</mat-label>
      <input matInput [matDatepicker]="fechaEntregaPicker" formControlName="fechaEntrega" placeholder="Fecha de Entrega" required>
      <mat-datepicker-toggle matSuffix [for]="fechaEntregaPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaEntregaPicker></mat-datepicker>
      <mat-error *ngIf="servicioForm.controls['fechaEntrega'].invalid">El campo Fecha de Entrega es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="entregado" class="example-margin">Entregado</mat-checkbox>
    <br>
    <mat-form-field>
      <mat-label>ID Detalle de Servicio</mat-label>
      <input matInput formControlName="idDetalleServicio" placeholder="ID Detalle de Servicio" required>
      <mat-error *ngIf="servicioForm.controls['idDetalleServicio'].invalid">El campo ID Detalle de Servicio es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>ID Trabajador</mat-label>
      <input matInput formControlName="idTrabajador" placeholder="ID Trabajador" required>
      <mat-error *ngIf="servicioForm.controls['idTrabajador'].invalid">El campo ID Trabajador es requerido.</mat-error>
    </mat-form-field>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="guardarCambios()">Guardar cambios</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>

