table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  th {
    text-align: inherit;
    padding: .75rem;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
  }
  td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }