.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .login-box {
    background-color: rgba(184, 180, 180, 0.8);
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 0;
  }