<mat-toolbar color="primary">
  <ng-container *ngIf="!isLoggedIn; else loggedInMenu">
    <button mat-button (click)="abrirModalRegistro()">Registrarse</button>
    <button mat-button routerLink="/">Iniciar sesión</button>
  </ng-container>




  <ng-template #loggedInMenu>
    <button mat-button (click)="authService.logout()">Cerrar sesión</button>
    <!-- trabajador -->
    <ng-container *ngIf="isTrabajador()">
      <button mat-button routerLink="/cliente">Clientes</button>
      <button mat-button routerLink="/servicios">Servicios en curso</button>
      <button mat-button routerLink="/compras">Compras</button>
      <button mat-button routerLink="/producto">Productos</button>
      <button mat-button routerLink="/proovedores">Proovedores</button>
      <button mat-button routerLink="/serviciosDisponiblesAdmin">Disponibles</button>
      <button mat-button routerLink="/serviciosSolicitadosAdmin">Solicitados</button>
    </ng-container>
    <!-- Admin -->
    <ng-container *ngIf="isAdmin()">
      <button mat-button routerLink="/trabajadores">Trabajadores</button>
      <button mat-button routerLink="/cliente">Clientes</button>
      <button mat-button routerLink="/servicios">Servicios en curso</button>
      <button mat-button routerLink="/compras">Compras</button>
      <button mat-button routerLink="/producto">Productos</button>
      <button mat-button routerLink="/proovedores">Proovedores</button>
      <button mat-button routerLink="/pais">Paises</button>
      <button mat-button routerLink="/serviciosDisponiblesAdmin">Disponibles</button>
      <button mat-button routerLink="/serviciosSolicitadosAdmin">Solicitados</button>
    </ng-container>
    <!-- Cliente -->
    <ng-container *ngIf="isCliente()">
      <button mat-button routerLink="/usuarioServicio">Mis Servicios</button>
      <button mat-button routerLink="/productosClient">Lista productos</button>
      <button mat-button routerLink="/serviciosDisponibles">Lista de Servicios</button>
    </ng-container>
  </ng-template>

</mat-toolbar>