<h1>Listado de Servicios</h1>
<button mat-raised-button color="primary" (click)="agregarServicioDialog()">Añadir Servicio</button>
<br><br>
<table mat-table [dataSource]="servicios">


  <ng-container matColumnDef="Cliente">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let servicio">{{ nombresClientes[servicio.idCliente] || 'Sin cliente'  }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
    <td mat-cell *matCellDef="let servicio">{{ servicio.fechaInicio }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaEntrega">
    <th mat-header-cell *matHeaderCellDef>Fecha de Entrega</th>
    <td mat-cell *matCellDef="let servicio">{{ servicio.fechaEntrega }}</td>
  </ng-container>

  <ng-container matColumnDef="entregado">
    <th mat-header-cell *matHeaderCellDef>Entregado</th>
    <td mat-cell *matCellDef="let servicio">{{ obtenerEntregado(servicio.entregado) }}</td>
  </ng-container>

  <ng-container matColumnDef="NombreServicio">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let servicio">{{ servicio.fechaEntrega || 'Sin Nombre'  }}</td>
  </ng-container>


  <ng-container matColumnDef="Trabajador">
    <th mat-header-cell *matHeaderCellDef>Trabajador</th>
    <td mat-cell *matCellDef="let servicio">{{ nombresTrabajadores[servicio.idServicio] }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let servicio">
      <button mat-icon-button color="primary" (click)="editarServicioDialog(servicio.idServicio)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarServicioDialog(servicio.idServicio)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>