<h2 mat-dialog-title>Registro de Usuario</h2>
<mat-dialog-content>
  <form [formGroup]="usuarioForm">
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="userName" placeholder="Nombre de usuario">
      <mat-error *ngIf="usuarioForm.controls['userName'].invalid">El nombre de usuario es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="password" placeholder="Contraseña">
      <mat-error *ngIf="usuarioForm.controls['password'].invalid">La contraseña es requerida.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="dni" placeholder="dni">
      <mat-error *ngIf="usuarioForm.controls['dni'].invalid">El dni es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="nombre" placeholder="nombre">
      <mat-error *ngIf="usuarioForm.controls['nombre'].invalid">El nombre es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="apellido" placeholder="apellido">
      <mat-error *ngIf="usuarioForm.controls['apellido'].invalid">El apellido es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="telefono" placeholder="telefono">
      <mat-error *ngIf="usuarioForm.controls['telefono'].invalid">El telefono es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input matInput formControlName="direccion" placeholder="direccion">
      <mat-error *ngIf="usuarioForm.controls['direccion'].invalid">El direccion es requerido.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>País</mat-label>
      <mat-select formControlName="pais" required>
          <mat-option *ngFor="let pais of paises" [value]="pais.idPais">
              {{ pais.nombre }}
          </mat-option>
      </mat-select>
  </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="provincia" required>
          <mat-option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">
              {{ provincia.nombre }}
          </mat-option>
      </mat-select>
  </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Ciudad</mat-label>
      <mat-select formControlName="ciudad" required>
          <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
              {{ ciudad.nombre }}
          </mat-option>
      </mat-select>
  </mat-form-field>
    <br>
    <ng-container *ngIf="isLoggedIn && isAdmin">
      <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="tipo" placeholder="tipo">
        <mat-error *ngIf="usuarioForm.controls['tipo'].invalid">El tipo es requerido.</mat-error>
      </mat-form-field>
    </ng-container>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="registrarUsuario()">Registrarse</button>
</mat-dialog-actions>
